body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 45px;
  color: white;
}

img {
  width: 60px;
  height: 60px;
}

main {
  flex-grow: 1;
  padding: 20px;
  margin-top: 70px;
}
main h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.brinquedos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.brinquedo {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}
.brinquedo img {
  width: 100px;
  height: 100px;
  background-color: #eaeaea;
  margin-bottom: 10px;
}
.descricao {
  font-size: 14px;
  margin: 5px 0;
}