body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
nav h1 {
  font-size: 45px;
  color: white;
}

nav img {
  width: 60px;
  height: 60px;
}

main {
  flex-grow: 1;
  padding: 20px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.card { 
  width: 22rem;
}

.header h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.header img {
  width: 200px;
  height: 200px;
  margin-left: 45px;
}