<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Administração - Catálogo de Brinquedos</title>
		<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
	<header>
	  <img src="/imagem/logoLoja.jpg" alt="Logo da Loja" />
	  <h1>Nome da Loja de Brinquedo</h1>
	</header>
    <main class="container">
			<nav>
			    <h2>MENU PRINCIPAL</h2>
			    <a href="/home">Home</a>
					<a href="/catalogo">Catálogo de Brinquedos</a>
			    <a href="/admin">Administração</a>
			    <a href="/equipe">Sobre a equipe</a>
			</nav>

        <main>
            <h1>Nome da Loja de Brinquedo</h1>
            <h3>Catálogo de Brinquedos :: administração</h3>
            <table>
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Controles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Descrição do Brinquedo</td>
                        <td>Categoria 2</td>
                        <td>R$ 50,00</td>
                        <td class="controls"><a href="#">Editar</a> - <a href="#" style="color: red;">Excluir</a></td>
                    </tr>
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
            <a href="/novo-brinquedo" class="novo-brinquedo">Novo Brinquedo</a>
        </main>
    </div>
</body>
</html>
