<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/brinquedo.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="/html/home.html"><img src="/imagem/logoLoja.jpg" alt="Logo da Loja"></a>
      <h1>FunLand Toys</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="catalogo.html">Catálogo de Brinquedos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista.html">Administração</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="equipe.html">Sobre a equipe</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <h2>Catálogo de Brinquedos :: nome da categoria :: nome do brinquedo</h2>
      <hr>
      <div class="product-area">
        <div class="product-left">Imagem Brinquedo</div>
        <div class="product-right">
          <div class="codigo">Código do Brinquedo</div>
          <div class="descricao">Descrição do Brinquedo</div>
          <div class="preco">R$ ####,##</div>
        </div>
      </div>

      <div class="product-details-box">
        <h3>Detalhes sobre o brinquedo:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
      </div>
  </main>

  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>