<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Nome da Loja de Brinquedo</title>
	<link rel="stylesheet" href="/css/catalogo.css">
</head>
<body>

	<header>
	  <img src="/imagem/logoLoja.jpg" alt="Logo da Loja" />
	  <h1>Nome da Loja de Brinquedo</h1>
	</header>

	<div class="container">
	  <nav>
	    <h2>MENU PRINCIPAL</h2>
			<a href="/home">Home</a>
			<a href="/catalogo">Catálogo de Brinquedos</a>
	    <a href="/admin">Administração</a>
	    <a href="/equipe">Sobre a equipe</a>
	  </nav>
	
	  <main>
	    <h2>Catálogo de Brinquedos :: categorias</h2>
	    <hr />
	    <div class="categorias">
	      <div class="categoria">
	        <img src="#" alt="Imagem categoria 1" />
	        <div>Nome da Categoria 1</div>
	      </div>
	      <div class="categoria">
	        <img src="#" alt="Imagem categoria 2" />
	        <div>Nome da Categoria 2</div>
	      </div>
	      <div class="categoria">
	        <img src="#" alt="Imagem categoria 3" />
	        <div>Nome da Categoria 3</div>
	      </div>
	    </div>
	  </main>
	</div>

</body>
</html>
