<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/equipe.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="/html/home.html"><img src="/imagem/logoLoja.jpg" alt="Logo da Loja"></a>
      <h1>FunLand Toys</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/catalogo}">Catálogo de Brinquedos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/brinquedos/list}">Administração</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/equipe}">Sobre a equipe</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <h2>Sobre a equipe</h2>
      <hr>
      <div class="equipe">
          <div class="membro">
              <img src="/imagem/membro1.jpg" alt="Membro 1">
              <div>Alessandro Caputo Brecco Guirao<br>RA 1840482123051</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro2.jpg" alt="Membro 2">
              <div>Alexandre lemes de Santana Filho<br>RA 1840482212027</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro3.jpg" alt="Membro 3">
              <div>Bianca Lopes Gonçalves de Morais <br>RA 1840482212002</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro4.jpg" alt="Membro 4">
              <div>Daniel Serdoz Pereira<br>RA 1840482123050</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro5.jpg" alt="Membro 5">
              <div>Gabriel Almeida Gonçalves Candido <br>RA 1840482212015</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro6.jpg" alt="Membro 6">
              <div>Gustavo Moura da Costa<br>RA 1840482112018</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro7.jpg" alt="Membro 7">
              <div>Pietra Rossi Alves Coutinho<br>RA 1840482222046</div>
          </div>
          <div class="membro">
              <img src="/imagem/membro8.jpg" alt="Membro 8">
              <div>Vinicius Huang<br>RA 1840482212043</div>
          </div>
      </div>
  </main>

  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>