<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Nome da Loja de Brinquedo</title>
		<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<header>
	    <img src="/imagem/logoLoja.jpg" alt="Logo da Loja">
	    <h1>Nome da Loja de Brinquedo</h1>
	</header>

	<div class="container">
	    <nav>
	        <h2>MENU PRINCIPAL</h2>
	        <a href="/home">Home</a>
					<a href="/catalogo">Catálogo de Brinquedos</a>
			    <a href="/admin">Administração</a>
			    <a href="/equipe">Sobre a equipe</a>
	    </nav>
	
	    <main>
	        <h2>Brinquedos em Destaque</h2>
	        <hr>
	        <div class="brinquedos">
	            <div class="brinquedo">
	                <img src="#" alt="Brinquedo 1">
	                <div class="descricao">Descrição do Brinquedo<br>R$ #####,##</div>
	            </div>
	            <div class="brinquedo">
	                <img src="#" alt="Brinquedo 2">
	                <div class="descricao">Descrição do Brinquedo<br>R$ #####,##</div>
	            </div>
	            <div class="brinquedo">
	                <img src="#" alt="Brinquedo 3">
	                <div class="descricao">Descrição do Brinquedo<br>R$ #####,##</div>
	            </div>
	            <div class="brinquedo">
	                <img src="#" alt="Brinquedo 4">
	                <div class="descricao">Descrição do Brinquedo<br>R$ #####,##</div>
	            </div>
	            <div class="brinquedo">
	                <img src="#" alt="Brinquedo 5">
	                <div class="descricao">Descrição do Brinquedo<br>R$ #####,##</div>
	            </div>
	            <div class="brinquedo">
	                <img src="#" alt="Brinquedo 6">
	                <div class="descricao">Descrição do Brinquedo<br>R$ #####,##</div>
	            </div>
	        </div>
	    </main>
	</div>
</body>
</html>
