<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/novoBrinquedo.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="/html/home.html"><img src="/images/logoLoja.jpg" alt="Logo da Loja"></a>
      <h1>FunLand Toys</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="catalogo.html">Catálogo de Brinquedos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista.html">Administração</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="equipe.html">Sobre a equipe</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <h2>Catálogo de Brinquedos :: novo brinquedo</h2>
      <hr>
      <form class="cadastro">
          <label>Descrição(Nome):</label><br>
          <input type="text" class="nome"><br><br>

          <label>Categoria:</label><br>
          <input type="text" class="categoria"><br><br>

          <label>Marca:</label><br>
          <input type="text" class="marca"><br><br>

          <label>Preço:</label><br>
          <input type="text" class="preco"><br><br>

          <label>Imagem (URL):</label><br>
          <input type="text" class="imagem"><br><br>

          <label>Detalhes:</label><br>
          <textarea type="text" class="detalhe"></textarea><br><br>

          <div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="/html/lista.html" class="btn btn-primary">Voltar</a>
          </div>
      </form>
  </main>

  <script src="/Javascript/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>